a[href="#"]{
    background-color: green;
    color: black;
}
a[target="_blank"]{
    background-color: red;
}

body p:first-child{
    color: hotpink;
    letter-spacing: 1px;
    line-height: 2;
}
a[href="#"]:hover{
    background-color: red;
    color: hotpink;
}
a[target="_blank"]:visited{
    color: yellow;
}
a[href="#useless"]:link{     /* Psuedo Class that changes whole object */
    color: blue;
}
*::selection{
    background-color: red;
}
p::first-letter{
    background-color: yellow;
    border: 1px solid black;
    font-size:2em;
}
/* Generating Content before a link via attribute selector */
a[target="_blank"]::before{
    content:"Caution External Link ";
    background-color: yellow;
    color: red;
    text-decoration: none;
}
/* Generating Content after a link via a attribute selector */
a[href="#useless"]::after{
    content: " Do not worry its useless so poke it";
    text-decoration: none;
    color: violet;
    background-color: white;
    display:inline-block;
}
.box::before{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-color: purple;
    border: 4px solid black;
}